body {
  font-family: Arial, sans-serif;
 
  color: #000080;
  text-align: center;
}
a {
  text-decoration: none;
  color: #FFA500;
  
  padding: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

}

.link {
  margin: 80px;
}